#SceneSwitchButton{
    -fx-pref-height: 160px;
    -fx-pref-width: 380px;

    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #3870d2, #8ac9fc);
    -fx-font-size: 42px;
    -fx-background-radius: 50px;
    -fx-border-color: black;
    -fx-border-radius: 50px;
    -fx-text-fill: white;

    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.25), 5, 0.1, 5, 5);

}

#SceneSwitchButton:hover{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #285ebd, #6087a6);
    -fx-font-size: 46px;
    -fx-pref-height: 180px;
    -fx-pref-width: 400px;
    -fx-translate-y: 10px;
    -fx-translate-x: -10px;
}

#SceneSwitchButton:pressed{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #1d448a, #4a6880);
    -fx-font-size: 42px;
    -fx-pref-height: 140px;
    -fx-pref-width: 360px;
    -fx-translate-y: -10px;
    -fx-translate-x: 10px;
}