.DisplayPane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-fit-to-width: true;

}

.DisplayPane Label {
    -fx-font-size: 24;
    -fx-pref-height: 30;
    -fx-pref-width: 160;
}


.NavigationPane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-fit-to-width: true;
}

.NavigationPane Button {
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-background-radius: 15px;
}



.InventoryPane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-fit-to-width: true;

}

.InventoryPane Button{
    -fx-font-size: 24px;
    -fx-background-radius: 15px;
}

.CommandPane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-fit-to-width: true;

}

.CommandPane Button {
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-background-radius: 15px;
}

.OutputPane {
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-background-color: white;
    -fx-fit-to-width: true;

}

.OutputPane Label {
    -fx-font-size: 24;
}

.OutputPane Button {
    -fx-pref-width: 440;
    -fx-pref-height: 60;
    -fx-background-radius: 15px;
}

.ContainerPane {
    -fx-background-color: lightgrey;

}

